@media screen and (max-width: 460px) {
    .nav-bar{
      display: none;
    }
    .logo-delivery-number{
      align-items: center;
   flex-direction: column;
    }
    .logo img{
    
      width: 100%;
    }
  
    .delivery-number{
      display: none;
      align-items: center;
      }
     
  
  
    .main-container{
      display: flex;
      flex-direction: column;
      /* background-color: fuchsia; */
    }
    .left-side{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      align-items: center;
      justify-content: center;
     
  
    }
    .first-heading{
      margin-top: 3em;
      padding: 0.2em;
      text-align: center;
      border: 0.1em dashed  #3d2514;
    }
    .first-heading h2{
      font-size: 1rem;
      font-weight: 500;
    }
    .right-side{
      width: 100%;
      margin-top: 2em;
     
    }
    .left-side-title{
      width: 80%;
    }
    .left-side-subtitle {
      width: 30%;
     }
  
  
     .burger-container{
      width: 60%;
      position: absolute;
      top: 20%;
      z-index: 1;
    
     }
     .shadow-burger{
      position: absolute;
      top: 96%;
       right: 1%;
       z-index: 3;
    }
    
     .glass-container{
      width: 19%;
      position: absolute;
      right: 13%;
    
     }
     .shadow-glass{
      position: absolute;
     top: 98%;
      right: 1%;
      z-index: 3;
    
    }
    .fries-container{
      width: 40%;
      position: absolute;
      top: 4%;
      left:4%;
    }
  
    .price-tag-container{
      width: 20%;
      display: none;
      position: absolute;
       z-index: 4;
     
    
     }
     .card-container{
    display: flex;
    padding: 0.2em;
    flex-direction: column;
    gap: 1em;
      /* margin-block: 30px; */
      flex-wrap: wrap;
     }
     .left-big-card{
      width: 100%;
      background-size: contain;
      height: 36vh;
      
     
     }
     .left-big-card h1{
        padding-inline: 1em;
        font-size: 1.2rem;
        color: #ffff;
        font-weight: 700;
       }
  .half{
    width: 100%;
    
  }
  .btn{
    width: 80%;
   
  }
  
  .text-heading h1{
    font-size: 2rem;
    font-weight: 600;
    }
  .three-burger-cards{
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  
  .card1{
    width: 90%;
  }
  
  .card1 h1{
    font-size: 1.2rem;
  
  }
  .card1 p{
    font-size: 0.6rem;
    text-align: center;
  }
  .burger-btn{
    width: 100%;
    text-align: center;
  }
  .upcoming-event-card{
   flex-direction: column;
   
  }
  .upcoming-event-rigt{
  width: 100%;
  }
  .upcoming-event-left-side {
    width: 100%;
  }
  .form{
    margin-top:3em ;
  }
  .name-fields{
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0em;
    
  }

  .text-form{
    /* border: none; */
    
    width: 100%;
  }
 .footer{
    flex-direction: column;
    align-items: center;
    justify-content: end;
 }
 .footer-left{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
  
  }
  .burger-logo{
    width: 50%;
    margin-inline: auto;
    }
    .footer p{
        color: #fff;
        font-size: 0.7rem;
        text-align: center;
        }
       
            .heading-icon h4{
                font-size: 0.5rem;
            }
            .heading-icon{
                align-items: end;
               
            }
  
   }
  
  
  