@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid green;
}

:root {
    --primary-text-color: #3d2514;
    --secondary-text-color: #fff;
    /* --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px; */
    --padding-all-section: 0.5em;
  }

  body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
    /* font-family: 'Roboto', sans-serif; */
  }

  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  p {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
  }

  a {
    text-decoration: none;
    display: inline-block;
    color: var(--primary-text-color);
  }
ul{
  list-style: none;
}
  .container {
    max-width: 1180px;
    margin-inline: auto;
   padding: var(--padding-all-section);
   
  }

  .bg-container{
  background-image: url(./img/screen-one-bg.png);
    height: 100vh;
    width: 100%;
  }

  /* logo-delivery-number */
  .logo-delivery-number{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* top to bottom */
  }

  .logo img{
    width: 12vw;
  }
  .logo-delivery-number h3{
font-size: 1rem;
color: var(--primary-text-color);
  }
  .logo-delivery-number{
  display: flex;
  gap: 0.5em;
  }

  /* nav-bar */
  .nav-bar{
    height: 10vh;
  }
  .nav-bar ul{
    display: flex;
    justify-content: flex-end;
  gap: 2em;
    
  }
  .nav-bar ul h2{
    font-size: 1.2rem;
    font-weight: 500;
  }

  /* main-container left-side and right side */
  .main-container{
    height: calc(100vh - 20vh);
    display: flex;
    /* background-color: fuchsia; */
  }
/* left-side" */
  .left-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: start;
    justify-content: center;

  }
  .first-heading h2{
    font-size: 0.8rem;
    font-weight: 500;
  }
  .first-heading{
    padding: 0.5em;
    border: 0.1em dashed  #3d2514;
  }
  .left-side-title{
    width: 80%;
  }
 .left-side-title img{
  width: 100%;
 }
  
 .left-side-subtitle {
  width: 20%;
 }
 .left-side-subtitle img{
  width: 100%;
 }

 /* right-side */
 .right-side{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
 }

 .burger-container{
  width: 53%;
  position: absolute;
  top: 20%;
  z-index: 1;

 }
 .burger-container img{
width: 100%;

 }
 .glass-container{
  width: 22%;
  position: absolute;
  right: 17%;

 }

 .glass-container img{
  width: 100%;
  
 }

 .fries-container{
   width: 40%;
   position: absolute;
   top: 4%;
   left:6%;
 }
 .fries-container img{
   width: 100%;
 }







































 @media screen and (max-width: 360px) {
  .main-container{
   
    display: flex;
    flex-direction: column;
    /* background-color: fuchsia; */
  }
  .left-side{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
   

  }
  .first-heading{
    margin-top: 1em;
    padding: 0.1em;
    text-align: center;
    border: 0.1em dashed  #3d2514;
  }
  .first-heading h2{
    font-size: 1rem;
    font-weight: 500;
  }
  .right-side{
    width: 100%;
    margin-top: 2em;
   
  }

}
 